header{
    background-color: #dbc665;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    text-align: center;
}

.tour-button {
    padding: 15px 25px;
    font-size: 18px;
    color: black;
    background-color: #ffffa4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tour-button:hover {
    background-color: #e9cf3e;
}

h1 {
    text-align: center;
    color: black;
    border-color: black;
    border-style: ridge;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

h1:hover {
    background-color: black;
    color: white;
}

p {
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.image {
    border-style: double;
    border-width: 4px;
    width: 735px;
    height: 384px;
    padding: 10px;
    margin-right: 15px;
}

body {
    background-color:#ffffe1;
}

footer {
    margin-top: 20px;
}

.footer-content {
    background-color: #7e6a13;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.contact-list li {
    margin: 0;
}

.contact-list a {
    color: white;
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}
